.App {
  text-align: center;
}

.Vector {
  background: url("https://github.com/beyondcommitted/employee_directory/blob/main/images/VectorFrame.jpg?raw=true");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 0;
  height: 800px;
}

@media screen and (max-width: 500px) {
.Vector {
  background: white;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
}



